/* ==========================
   Global
========================== */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
} */

/* ==========================
   Navbar
========================== */
/* 
.navbar {
  width: 100%;
  background: #111827;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 16px 50px;
}

.navbar-container {
  max-width: 1400px;
  margin: auto;

  display: flex;
  /* justify-content: space-between; */
  /* align-items: center;
/* } */ /* ==========================
   Logo
========================== */
/* 
.logo-gradient {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.logo-text h2 {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;

  font-size: 30px;
  font-weight: 700;
  color: #ffffff;

  white-space: nowrap;
}

.logo-text span {
  color: #ef4444;
  font-size: 30px;
  font-weight: 700;
} */

/* ==========================
   Navigation
========================== */
/* 
.nav-links {
  list-style: none;

  display: flex;
  align-items: center;

  gap: 32px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 5px;

  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ef4444;
} */

/* ==========================
   Button
========================== */
/* 
.nav-buttons {
  display: flex;
  align-items: center;
}

.register-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #dc2626;
  color: #ffffff;

  border: none;
  border-radius: 8px;

  padding: 12px 22px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background: #b91c1c;
  transform: translateY(-2px);
} */

/* ==========================
   Responsive
========================== */

/* @media (max-width: 1100px) {
  .navbar {
    padding: 16px 25px;
  }

  .nav-links {
    gap: 18px;
  }

  .logo-text h2,
  .logo-text span {
    font-size: 24px;
  }

  .register-btn {
    padding: 10px 18px;
  }
}

@media (max-width: 900px) {
  .navbar-container {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .nav-buttons {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 15px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo-text h2,
  .logo-text span {
    font-size: 20px;
  }

  .nav-links {
    gap: 12px;
  }

  .nav-links a {
    font-size: 14px;
  }

  .register-btn {
    padding: 10px 16px;
    font-size: 14px;
  }
} */